body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    padding-top: 2%;
    background-color: rgb(17, 16, 16);
    /*    background-image: url("/img/freeimg_12673169048freejpg850.jpg");
background: #0c2a47;   fallback for old browsers */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.max-width {
    width: 85%;
    height: 95%;
    margin: auto;
    position: relative;
    display: flex;
    /*background-image: url("/img/freeimg_12673169048freejpg850.jpg");*/
    background:rgb(40, 40, 77);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
   /*         box-shadow: rgba(0, 0, 0, 0.25) 0px 57px 58px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
*/
box-shadow: rgba(35, 91, 156, 0.644) 0px 7px 17px;
    border-radius: 20px;
    overflow: hidden;
}

/*Stare style navbar*/
.sidbarre {
    z-index: 99;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: transparent;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}
.sidbarre .logo-content{
    height: 95px;
}
.sidbarre.active {
    width: 260px;
    background-color: rgba(0, 0, 0, 0.705);
}
.sidbarre #btnMenu {
    cursor: pointer;
    position: absolute;
    color: #0cfaedb5;
    left: 14px;
    top: 6px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}

.sidbarre #btnMenu:hover {
    background: #0cfaedb5;
    border-radius: 12px;
    color: #fff;
}
.sidbarre ul {
    padding: 0;
}
.sidbarre ul li {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 15px 0 0 0;
    list-style: none;
    line-height: 60px;
    left: 14px;
    
  }
  .sidbarre .links-name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }
  .sidbarre.active .links-name {
    opacity: 1;
    pointer-events: auto;
  }
  .sidbarre ul li .tooltitle {
    position: absolute;
    left: 65px;
    transform: translateY(-50%);
    border-radius: 6px;
    height: 35px;
    width: 130px;
    background: rgba(0, 0, 0, 0.705);
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
  }
  .sidbarre.sidbarre.active ul li .tooltitle {
    display: none;
  }
  .sidbarre ul li:hover .tooltitle {
    transition: all 0.3s ease;
    opacity: 1;
    top: 65%;
  }
  .sidbarre ul li a {
    color: #0cfaedb5;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 12px;
    white-space: nowrap;
  }
  .sidbarre ul li a:hover {
    color: #BCE6FF;
    background: transparent;
  }
  .sidbarre ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
  }  
/*Stare style navbar*/
/*Stare style Section 1*/
.sect1{
  width: 100%;
  align-items: center;
}
.sect1 .home-page {
  text-align: left;
  width: 100%;
  height: 100vh;
  display: block;
  background: #111720;
  color: rgb(255, 255, 255);
  display: flex;
}
.sect1 .home-page .left{
  width: 55%;
  height: 100vh;
  padding-top: 100px;
  padding-left: 20px;
  overflow: hidden;
}
.sect1 .home-page .right{
  width: 45%;
  height: 100vh;
}
.sect1 .home-page .right .bg-img{
  margin-top: 90px;
  background-color: #255784;
  width: 100%;
  height: 100%;
  animation: mymove 2s infinite ease-in-out alternate;
}
.sect1 .home-page .right .Bg-bink{
  margin-top: 60px;
  background-color: #e959bea9;
  width: 75%;
  height: 55%;
  animation: mymoveleft 2s infinite ease-in-out alternate;
}
.sect1 .home-page .right .bg-img,
.sect1 .home-page .right .Bg-bink{
  
  border-radius: 500px;
  padding-left: 10px;
  position: relative;
  z-index: 1;
}
.sect1 .home-page .right img{
  width: 100%;
  height: 100%;
  margin-top: 0px;
  border-radius: 500px;
  position: relative;
  animation: mymove 2s infinite ease-in-out alternate;
  z-index: 2;
}
@keyframes mymove {
  from {top: 0px;}
  to {top: 22px;}
}
@keyframes mymoveleft {
  from {left: 0px;}
  to {left: 30px;}
}
.sect1 .home-page h1 {
  font-weight: 300;
  font-size: 2em;
  margin-left: 5px;
}

.sect1 .home-page h2 {
  font-weight: 700;
  font-size: 50px;
  text-transform: capitalize;
  margin: 15px 15px;
  word-spacing: 2px;
}
.sect1 .home-page h2 span {
  font-weight: 600;
  color: #0cfaedb5;
}
.home-page .cv-btn ,
.infom .send-btn{
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  transition: 0.2s;
  margin: 20px;
  box-shadow: rgba(59, 196, 214, 0.493) 0px 5px 15px;
  /*width: 200px;
  height: 45px;
  border-radius: 6px;
  border: 1px solid hsl(220deg 68% 29%);
  background: none;
  color: #fff;
  margin: 15px 20px;
  transition: all 0.5s ease;
  font-size: 1em;
  cursor: pointer;
  font-weight: 600;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
*/
}
.home-page .cv-btn:hover,
.infom .send-btn:hover {
  color: #255784;
  background-color: #2196f3;
  box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
/*  border: 1px solid hsl(220deg 68% 29%);
  background: hsl(220deg 68% 29%);
  color: #fff;*/
  transition-delay: 1s;
}
.home-page .cv-btn span,
.infom .send-btn span{
  position: absolute;
  display: block;
}
.home-page .cv-btn span:nth-child(1),
.infom .send-btn span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#2196f3);

}
.home-page .cv-btn:hover span:nth-child(1),
.infom .send-btn:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}
.home-page .cv-btn span:nth-child(3),
.infom .send-btn span:nth-child(3){
  bottom:0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#2196f3);

}
.home-page .cv-btn:hover span:nth-child(3),
.infom .send-btn:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.home-page .cv-btn span:nth-child(2),
.infom .send-btn span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#2196f3);

}
.home-page .cv-btn:hover span:nth-child(2),
.infom .send-btn:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.home-page .cv-btn span:nth-child(4),
.infom .send-btn span:nth-child(4){
  bottom:-100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#2196f3);

}
.home-page .cv-btn:hover span:nth-child(4),
.infom .send-btn:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
.home-page .social-media,
.infome .social-media,
.education .social-media {
  display: flex;
}
.home-page .social-media i,
.education .social-media i,
.infome .social-media i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;
  font-size: 1.5em;
  transition: all 0.5s ease;
  color: #0cfaedb5;
}

.home-page .social-media i:hover,
.infome .social-media i:hover,
.education .social-media i:hover {
  box-shadow: rgba(59, 196, 214, 0.493) 0px 5px 15px;
}
/*End style Section 1*/


/*Stare style Section 2*/
.sect2,.sect3,.sect4,.sect5,.sect6 {
  width: 100%;
  height: 100vh;
  display: none;
  background-color:transparent;
  color: rgb(0, 0, 0);
}
.sect2 .infome,
.sect3 .education,
.sect4 .skills,
.sect5 .info-works,
.sect6 .infom{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #111720;

}
.sect2 .infome h2,
.sect3 .education h2,
.sect4 .skills h2,
.sect5 .info-works h2 {
  color: #3db2ff;
  font-size: 5em;
  font-weight: 400;
  margin-bottom: 20px;
}
.sect2 .infome p {
  width: 900px;
font-size: x-large;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
  line-height: 40px;
  font-weight: 800;
  color: #BCE6FF;
}
.education .edc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 35px;
}
.education .edc .ed1 {
  background: #151616d5;
  color: #fff;
  width: 400px;
  height: 250px;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease;
}
.edc .ed1:hover{
  background-color: #0dafa7b5;
}
.edc .ed1 h3{
  font-size: 3em;
  text-align: center;
}
.edc .ed1 p{
  font-size: 2em;
  text-align: center;
}

.skl {
  display: flex;
}
.skl .prog{
  border-radius: 10px;
  width: 400px;
  height: 350px;
  background: transparent;
  box-shadow: inset 0 0 50px 50px rgba(255, 255, 255, 0.3),
        inset 0 0 100px 100px rgba(255, 255, 255, 0.2),
        inset 0 0 200px 200px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.295);
  margin: 20px 20px 60px;
  overflow: hidden;
}
.prog li{
  list-style: none;
  margin: 20px 0;
  padding: 0 15px;
}
.prog li h3{
  color: #fff;
  font-size: 20px;
}
.bar {
  margin-top: 10px;
  background: #0e1218;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: block;
}
.bar span {
  height: 20px;
  background: #3db2ff;
  float: left;
}
.html {
  width: 80%;
  animation: html 3s;
}
.css {
  width: 60%;
  animation: css 3s;
}
.javascript {
  width: 50%;
  animation: javascript 3s;
}
.adobexd {
  width: 85%;
  animation: adobexd 3s;
}
.illustrator {
  width: 75%;
  animation: illustrator 3s;
}
.photoshop {
  width: 60%;
  animation: photoshop 3s;
}
.premierpro {
  width: 70%;
  animation: premierpro 3s;
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes adobexd {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes illustrator {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes photoshop {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes premierpro {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

/*End style Section 2*/
/*style section work*/
.skl h3 {
  font-weight: 400;
}


.cards {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  
}

.cards .card {
  background: transparent;
  width: 280px;
  height: 250px;
  position: relative;
  border-radius: 6px;
  transition: all 0.5s ease;
}


.card .img-card {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card .img-card img {
  width: 100%;
  height: 100%;
  padding: 5px;
  object-fit:contain;
  transition: all 0.5s ease;
  filter: grayscale(0.1);
}

.card .img-card img:hover {
  transform: scale(1.2);
  opacity: 1;
  filter: none;
  cursor: pointer;
}

.card .information {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.card .information h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}
.card .information .p-inf {
  font-weight: 200;
}
.card .information p {
  font-size: 0.7em;
  font-weight: 400;
  color: #fff;
}
/*end section work*/
/*start section contact*/

.sect6 .infom h2 {
  color: #3db2ff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
.infom{
  position: relative;
  width: 100%;
  height: 100%;
  background: #111720;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.infom .form-contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
 bottom: 80px;
 
}

.infom .form-contact input {
  outline: none;
  padding: 10px;
  width: 600px;
  height: 60px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  background: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: rgba(59, 196, 214, 0.493) 3px 5px 9px;
}
.infom .form-contact textarea {
  outline: none;
  padding: 10px;
  width: 600px;
  height: 100px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  background: #ffffff;
  color: rgb(0, 0, 0);
  opacity: 0.7;
  resize: none;
  box-shadow: rgba(59, 196, 214, 0.493) 3px 5px 9px;
}
.infom .form-contact button {
  outline: none;
  padding: 10px;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  background: #0e1218;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4em;
  cursor: pointer;
  transition: all 0.5s ease;
 
}
.infom .form-contact button:hover {
 
  
  background: #268ccf;
  color: #fff;
  

}


/*end section contact*/